<h1>Form Page</h1>

<form action="/form-input" method="post">
  <label for="titleInput"> Title</label>

  {{!-- name is requiered to find it --}}
  <input id="titleInput" type="text" name="title" placeholder="Clean House">

   <label for="descriptionInput"> Description </label>
  <input id="descriptionInput" type="text" name="description" placeholder="in laws are comming over">

 <label for="priorityInput"> Priority </label>
  <input id="priorityInput" type="text" name="priority" placeholder="5">


  <button> Add Task </button>
</form>